
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: url('./image/jesus-christ.jpg');
    color: #fff;
}

.header p{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
}

.blog-container {
    width: 70%;
    margin: 50px auto;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.blog-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.blog-details {
    margin-top: 20px;
}

.author-date {
    color: #EA5C2B;
    font-weight: bold;
}

h1{
    color: #080808;
}

.blog-content{
    color: #080808;
    margin-top: 30px;
}

#content {
    line-height: 12px;
    font-size: 20px;
}

img.blog-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #262626;
    font-weight: 300;
    margin-top: 20px;
}
